<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.example.shealth"
        version="0.7.0">

  <name>Shealth</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/shealth.js" target="js/shealth.js"/>

  <js-module src="www/shealth.js" name="shealth">
    <clobbers target="shealth" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="SHealth">
        <param name="android-package" value="com.example.plugin.SHealth"/>
      </feature>
    </config-file>
	<lib-file
		src="src/android/libs/samsung-digital-health-healthdata-1.2.1.jar"
		target-dir="libs/"
		arch="device"
	/>

    <source-file src="src/android/SHealth.java" target-dir="src/com/example/plugin/"/>
    <source-file src="src/android/SHealthConnector.java" target-dir="src/com/example/plugin/"/>
    <source-file src="src/android/DataReporter.java" target-dir="src/com/example/plugin/"/>
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="Hello">
        <param name="ios-package" value="HWPHello" />
      </feature>
    </config-file>

    <header-file src="src/ios/HWPHello.h" target-dir="HelloPlugin"/>
    <source-file src="src/ios/HWPHello.m" target-dir="HelloPlugin"/>
  </platform>

  <platform name="wp7">
    <source-file src="src/wp7/Hello.cs"/>
  </platform>

</plugin>